<h1 class="p-mt-3">Pipes <small>Angular</small></h1>
<hr>
<section class="p-grid">
  <article class="p-col p-p-3 p-d-flex p-jc-center">
    <table class="p-col">
      <thead>
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Salida</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{data.nombre}}</td>
        <td>uppercase</td>
        <td>{{data.nombre | uppercase}}</td>
      </tr>
      <tr>
        <td>{{data.nombre}}</td>
        <td>lowercase</td>
        <td>{{data.nombre | lowercase}}</td>
      </tr>
      <tr>
        <td>{{data.nombre}}</td>
        <td>lowercase</td>
        <td>{{data.nombre | titlecase}}</td>
      </tr>
      <tr>
        <td>{{data.nombre}}</td>
        <td>slice:4</td>
        <td>{{data.nombre | slice:4}}</td>
      </tr>
      <tr>
        <td>{{data.nombre}}</td>
        <td>slice:0:2</td>
        <td>{{data.nombre | slice:0:2}}</td>
      </tr>
      <tr>
        <td>{{data.array}}</td>
        <td>slice:0:2</td>
        <td>{{data.array | slice:0:2}}</td>
      </tr>
      <tr>
        <td>{{data.PI}}</td>
        <td>number:'1.0-0'</td>
        <td>{{data.PI | number:'1.0-0'}}</td>
      </tr>
      <tr>
        <td>{{data.PI}}</td>
        <td>number:'3.0-0'</td>
        <td>{{data.PI | number:'3.0-0'}}</td>
      </tr>
      <tr>
        <td>{{data.PI}}</td>
        <td>number:'.0-0'</td>
        <td>{{data.PI | number:'.0-2'}}</td>
      </tr>
      <tr>
        <td>{{data.porcentaje}}</td>
        <td>percent</td>
        <td>{{data.porcentaje | percent}}</td>
      </tr>
      <tr>
        <td>{{data.porcentaje}}</td>
        <td>percent:'2.2-2'</td>
        <td>{{data.porcentaje | percent:'2.2-2'}}</td>
      </tr>
      <tr>
        <td>{{data.salario}}</td>
        <td>currency</td>
        <td>{{data.salario | currency}}</td>
      </tr>
      <tr>
        <td>{{data.salario}}</td>
        <td>currency:'EUR'</td>
        <td>{{data.salario | currency:'EUR'}}</td>
      </tr>
      <tr>
        <td>{{data.salario}}</td>
        <td>currency:'CAD'</td>
        <td>{{data.salario | currency:'CAD'}}</td>
      </tr>
      <tr>
        <td>{{data.salario}}</td>
        <td> currency:'CAD':'symbol'</td>
        <td>{{data.salario | currency:'CAD':'symbol'}}</td>
      </tr>
      <tr>
        <td>{{data.salario}}</td>
        <td> currency:'CAD':'symbol-narrow'</td>
        <td>{{data.salario | currency:'CAD':'symbol-narrow'}}</td>
      </tr>
      <tr>
        <td>{{data.salario}}</td>
        <td>currency:'CAD':'symbol-narrow':'.0-0'</td>
        <td>{{data.salario | currency:'CAD':'symbol-narrow':'.0-0'}}</td>
      </tr>
      <tr>
        <td>{{data.valorPromesa}}</td>
        <td>async</td>
        <td>{{data.valorPromesa | async}}</td>
      </tr>
      <tr>
        <td>{{data.fecha}}</td>
        <td>date</td>
        <td>{{data.fecha | date}}</td>
      </tr>
      <tr>
        <td>{{data.fecha}}</td>
        <td>date:'medium'</td>
        <td>{{data.fecha | date:'medium'}}</td>
      </tr>
      <tr>
        <td>{{data.fecha}}</td>
        <td>date:'short'</td>
        <td>{{data.fecha | date:'short'}}</td>
      </tr>
      <tr>
        <td>{{data.fecha}}</td>
        <td>date:'MMMM - dd'</td>
        <td>{{data.fecha | date:'MMMM - dd'}}</td>
      </tr>
      <tr>
        <td>{{data.fecha}}</td>
        <td>date:'MMMM - dd'<br>
          <div class="p-buttonset p-m-2">
            <button (click)="data.idioma='es-AR'" pButton type="button" class="p-button-primary"
                    label="Español"></button>
            <button (click)="data.idioma='en'" pButton type="button" class="p-button-warning" label="Ingles"></button>
            <button (click)="data.idioma='fr-FR'" pButton type="button" class="p-button-danger"
                    label="Frances"></button>
          </div>
        </td>
        <td>{{data.fecha | date:'MMMM - dd':'':data.idioma | titlecase}}</td>
      </tr>
      <tr>
        <td>{{data.password}}</td>
        <td>
          password<br>
          <button pButton
                  type="button"
                  class="p-my-3"
                  (click)="data.visible=!data.visible"
                  [label]="data.visible?'Visible':'Oculto'"
                  [ngClass]="data.visible?'p-button-success':'p-button-danger'">
          </button>
        </td>
        <td>{{data.password | password:data.visible}}</td>
      </tr>
      </tbody>
    </table>
  </article>
</section>
<section class="p-col-12">
  <h3>JSON</h3>
  <article>
    <pre>
          {{data.heroe | json}}
    </pre>
  </article>
</section>
<section class="p-grid p-my-5 p-d-flex p-flex-column p-jc-center">
  <h3 class="p-col-12 p-text-center">DomSanetizer prueba</h3>
  <hr>
  <iframe class="p-m-auto"
          width="560"
          height="315"
          [src]="data.videoUrl | domSeguro"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
  </iframe>
</section>
